/* --pink, --bg, --shadow is variable */

:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  min-height: 4000px;
  background-color: #ccccff;
  overflow-x: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero {
  position: relative;
  min-height: 100vh;
  background-color: #ccccff;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: "Sacramento", cursive;
  font-size: 6rem;
}

.hero h4 {
  font-size: 1.6rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero a {
  color: #000;
  background-color: white;
  box-shadow: var(--shadow);
}

.hero a:hover {
  background-color: #000;
  color: white;
}

/* !important supaya style tu yg digunakan */
.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
  width: 280px;
}

.mynavbar .offcanvas.show {
  visibility: visible;
}

/* 
.mynavbar .navbar-brand, .mynavbar .offcanvas-title: 
This selector targets elements with the class .navbar-brand or .offcanvas-title 
that are children of an element with the class .mynavbar.
*/
.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-size: 3.2rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 0.8rem 1rem;
  transition: all 0.3s ease;
}

.mynavbar .nav-link:hover {
  color: var(--pink);
  transform: translateX(5px);
}

.home {
  background-image: url(img/bg.png);
  background-size: cover;
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
}

.home h2,
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
  color: var(--pink);
  font-family: "Sacramento";
  font-size: 5rem;
  font-weight: bold;
}

.home h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.1rem;
  color: #666;
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: "Sacramento";
  font-size: 2.4rem;
  color: var(--pink);
}

.home .couple img {
  width: 100%;
}

.home .heart {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}

.home .heart i {
  margin: auto;
  color: var(--pink);
}

.info {
  background-color: var(--bg);
  color: white;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.info .alamat {
  font-size: 1.1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #999;
}

.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  border-top: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 300;
}

.story,
.gallery,
.rsvp,
.gifts {
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.story span,
.gallery span,
.gifts span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.story p,
.gallery p,
.rsvp p,
.gifts p {
  font-size: 1rem;
  font-weight: 300;
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: #ccc;
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
}

.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;
}

.timeline li .timeline-panel::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

.gallery {
  background-color: #f5f5f5;
}

.rsvp {
  background-color: var(--bg);
}

.rsvp h2 {
  font-size: 4.5rem;
  white-space: nowrap;
  line-height: 1.1;
}

/* tablet */
@media (max-width: 768px) {
  .rsvp h2 {
    white-space: normal;
    font-size: 3.5rem;
    line-height: 1.1;
  }
}

.rsvp p {
  color: white;
}

.rsvp form label {
  color: white;
}

.rsvp button {
  background-color: var(--pink);
  color: white;
  border: 1px solid var(--pink);
}

.rsvp button:hover {
  background-color: white;
  color: var(--pink);
  border: 1px solid white;
}

footer {
  padding: 3rem;
  background-color: var(--pink);
  color: white;
}

footer a {
  color: var(--bg);
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Query */
/* Extra large */
@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(45px);
  }
}

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown > .simply-section {
    padding: 47px;
  }

  .home .heart {
    display: none;
  }

  .timeline::before {
    left: 60px;
  }

  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }

  .timeline li .timeline-panel {
    width: calc((100% - 200px));
    float: right;
  }

  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  body {
    overflow-x: hidden;
  }

  .hero main {
    padding-top: 10rem !important;
  }

  .hero h1 {
    font-size: 4.4rem !important;
    line-height: 1.3;
    padding: 0 1rem;
    margin-top: 0.8rem !important;
  }

  .hero h2 {
    font-size: 4rem !important;
    padding: 0 1rem;
    margin-top: 1.2rem !important;
  }

  .hero img {
    max-width: 105% !important;
  }

  .hero span {
    font-size: 2.5rem !important;
    margin: 1rem 0 !important;
  }

  .simply-countdown > .simply-section {
    margin: 0;
    min-width: 76.23px;
    padding: 0 2.18px;
  }

  .simply-countdown > .simply-section .simply-amount {
    font-size: 2rem;
  }

  .simply-countdown > .simply-section .simply-word {
    font-size: 1rem;
  }

  .hero a {
    font-size: 1.5rem !important;
    padding: 0.8rem 1.5rem !important;
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
  }

  .mynavbar .offcanvas {
    width: 300px;
  }

  .mynavbar .offcanvas-body {
    padding: 2rem 1rem;
  }

  .mynavbar .navbar-nav {
    text-align: center;
  }

  .sticky-top {
    overflow: hidden;
  }

  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }
}

/* mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  body {
    overflow-x: hidden;
  }

  .hero main {
    padding-top: 5rem !important;
  }

  .hero h1 {
    font-size: 3.6rem !important;
    line-height: 1.3;
    padding: 0 0.5rem;
    margin-top: 0.6rem !important;
  }

  .hero h2 {
    font-size: 3.2rem !important;
    padding: 0 0.5rem;
    margin-top: 1rem !important;
  }

  .hero img {
    max-width: 97.5% !important;
  }

  .hero span {
    font-size: 2rem !important;
    margin: 0.8rem 0 !important;
  }

  .simply-countdown {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0;
  }

  .simply-countdown > .simply-section {
    margin: 0;
    min-width: 65.34px;
    padding: 0 2.18px;
  }

  .simply-countdown > .simply-section .simply-amount {
    font-size: 1.6rem;
  }

  .simply-countdown > .simply-section .simply-word {
    font-size: 0.8rem;
  }

  .hero a {
    font-size: 1.2rem !important;
    padding: 0.6rem 1.2rem !important;
  }

  .timeline li .timeline-image {
    width: 80px;
    height: 80px;
  }

  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-20px);
  }

  .timeline li .timeline-panel::before {
    top: 30px;
  }

  .timeline li .timeline-panel::after {
    top: 31px;
  }

  .rsvp h2 {
    white-space: normal;
    font-size: 2.8rem;
    line-height: 1.1;
  }

  .mynavbar .navbar-toggler {
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .mynavbar .navbar-toggler-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/* very small mobile phones */
@media (max-width: 400px) {
  body {
    overflow-x: hidden;
  }

  .hero main {
    padding-top: 3rem !important;
  }

  .hero h1 {
    font-size: 3rem !important;
    padding: 0 0.3rem;
    margin-top: 0.5rem !important;
  }

  .hero h2 {
    font-size: 2.8rem !important;
    padding: 0 0.3rem;
    margin-top: 0.8rem !important;
  }

  .hero img {
    max-width: 90% !important;
  }

  .hero span {
    font-size: 1.8rem !important;
    margin: 0.6rem 0 !important;
  }

  .simply-countdown > .simply-section {
    margin: 0;
    min-width: 54.45px;
    padding: 0 2.18px;
  }

  .simply-countdown > .simply-section .simply-amount {
    font-size: 1.4rem;
  }

  .simply-countdown > .simply-section .simply-word {
    font-size: 0.7rem;
  }

  .hero a {
    font-size: 1rem !important;
    padding: 0.5rem 1rem !important;
  }

  .rsvp h2 {
    white-space: normal;
    font-size: 2.2rem;
    line-height: 1.1;
  }

  .mynavbar .offcanvas {
    width: 250px;
  }

  .mynavbar .nav-link {
    font-size: 1.8rem;
    padding: 0.8rem 0;
  }

  .mynavbar .navbar-brand,
  .mynavbar .offcanvas-title {
    font-size: 2.5rem;
  }
}
