.simply-countdown {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-family: "Arial", sans-serif;
  margin: auto;
  gap: 0;
  max-width: 100%;
  box-sizing: border-box;
}
.simply-countdown > .simply-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: transparent; /* Transparent background */
  min-width: 87.12px;
  padding: 0 4.35px;
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 8.4rem;
  line-height: 1;
}

.simply-countdown > .simply-section .simply-word {
  font-size: 1.2rem;
  margin-top: 5px;
  line-height: 1;
}
